body{
	font-family: "Microsoft YaHei";
}
a{
	text-decoration:none;
	color: #818181;
}

.wrapper{
	width: 1024px;
	margin: 0 auto;
	position: relative;
}
.header{
	height: 450px;
	background-color: #000;
}
.header .photos img{
	height: 450px;
}
.header .logo{
	position: absolute;
	top: 40px;
	left: 60px;
}
.header .logo img{
	width: 135px;
}
.header .title{
	position: absolute;
	top: 310px;
	left: 60px;
}
.header .title img{
	width: 420px;
}
.header .play-video{
	position: absolute;
	top: 190px;
	left: 480px;
	cursor: pointer;
}
.header .play-video img{
	width: 70px;
}
.header .video{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 450px;
	background-color: #000;
}
.header .video video{
	position: absolute;
	top: 0px;
	left:120px;
}
.culture{
	background-color: #fafafa;
	height: 730px;
	border: 1px solid #e6e6e6;
	overflow: hidden;
}
.culture img{
	display: block;
	margin: 50px auto 20px auto;
}
.culture img.culture3{
	display: block;
	margin: 50px 0px 20px 60px;
}
.job{
	background-color: #efefef;
	height: 800px;
	border: 1px solid #e6e6e6;
}

.job .job-category{
	width: 300px;
	float: left;
	margin-top: 20px;
}

.job .job-category .job-item{
	margin: 20px 0px 20px 60px;
}

.job .job-category .job-item p.category{
	color: #7a7a7a;
	font-size: 17px;
	font-weight: 900;
	line-height: 33px;
}

.job .job-category .job-item ul.title-list li {
	font-size: 13px;
	line-height: 21px;
	font-weight: 300;
	color: #999;
}

.job .job-detail{
	width: 663px;
	float: left;
	margin-top: 20px;
}
.job .job-detail p{
	color: #999999;
	line-height: 23px;
	font-size: 13px;
}
.job .job-detail h4{
	font-size: 16px;
	color: #888888;
	margin-top: 35px;
	margin-bottom: 13px;
}
.job .job-detail p.title{
	color: #818181;
	font-size: 28px;
	font-weight: 300;
	line-height: 40px;
	margin-top: 16px;
	margin-bottom: 3px;
}

.get-job-info-btn{
	cursor: pointer;
}
.get-job-info-btn:hover{
}
.get-job-info-btn.is-show-now{
	color: #5da457;
	text-decoration:underline;
}
.jcarousel {
    position: relative;
    overflow: hidden;
    /* You need at least a height, adjust this to your needs */
    height: 450px;
}

.jcarousel ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}